*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(233, 233, 233);
}
.intestazione{
    height: 80px;
    
    background-color: white;
}
    
.logo{
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.intestazione > h1{
    display: inline-block; 
}

.container{
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
}

.menu{
    height: 75px;

}

.task{
    display: inline-block;
    color: white;
    margin-top: 25px;
    margin-left: 50px;
    background: lightskyblue;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}

.sezione{
    display: inline-block;
    color: grey;
    margin-top: 25px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;

}

hr{
   margin-top: 10px;
}

ul{
    margin-top: 30px;
} 



.organizzazione{
    width: 700px;
    height: 700px;
    margin-top: 50px;
    margin-left: 50px;
}

.check{
  background-color: lightgreen;
  
}

.etichetta-1{
    color: white;
    background: lightskyblue;
    padding: 5px;
    border-radius: 10px;
    
}
.etichetta-2{
    color: white;
    background: violet;
    padding: 5px;
    border-radius: 10px;
    
}.etichetta-3{
    color: white;
    background: green;
    padding: 5px;
    border-radius: 10px;
    
}.etichetta-4{
    color: white;
    background: orange;
    padding: 5px;
    border-radius: 10px;
    
}.etichetta-5{
    color: white;
    background: rosybrown;
    padding: 5px;
    border-radius: 10px;
    
}.etichetta-6{
    color: white;
    background: green;
    padding: 5px;
    border-radius: 10px;
    
}