*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(233, 233, 233);
}
.intestazione{
    height: 80px;
    line-height: 80px;
    border: 1px solid red;
    background-color: white;
}
    
.logo{
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
}

.intestazione > h1{
    display: inline-block; 
}

.container{
    width: 1000px;
    height: 800px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;

}
.task{
    display: inline-block;
    color: white;
    margin-top: 25px;
    margin-left: 50px;
    background: lightskyblue;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}

.sezione{
    display: inline-block;
    color: grey;
    margin-top: 25px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;

}

hr{
   margin-top: 10px;
}

ul{
    padding-left: 50px;
}

