*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(233, 233, 233);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 10px 20px;
    background-color: white;
}
header h1{
    display: inline-block;
    font-size: 42px;
    font-weight: bold;
    vertical-align: middle;
}
header img{
    vertical-align: middle;
    width: 80px;
}

.container{
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
}

.task{
   padding: 30px;
}

.button{
    display: inline-block;
    color: white;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;

}
.button.active{
    background-color: lightblue;
    color: white;
}
.button.disable{
    color: grey;
    border: 1px solid grey;
}

.list-task{
    width: 700px;
    height: 700px;
    padding: 30px;
}

.circle{
    border: 1px solid black;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: inline-block;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
}
.checked::before{
    content: "\2713";
}
.circle.checked{
    color: green;
    border: 1px solid green;
}
.circle.deleted{
    color: red;
    border: 1px solid red;
}
.circle.deleted::before{
    content: "\2573";
}

ul{
    list-style: none;
}
ul li{
    padding: 5px 10px;
}
.tag{
    padding: 5px;
    font-size: 10px;
    border-radius: 10px;
    color: white;
    vertical-align: middle;
}


.tag.etichetta-1{
  
    background-color: lightskyblue;
   
    
}
.tag.etichetta-2{
    background-color: violet;
}
.tag.etichetta-3{
   background-color: green;
    
}
.tag.etichetta-4{
    background-color: orange;
    
}
.tag.etichetta-5{
    background-color: rosybrown;
    
}
.tag.etichetta-6{
    background-color: rgb(152, 182, 0);
    
}