*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.intestazione{
    height: 80px;
    line-height: 80px;
    border: 1px solid red;
}
    
.logo{
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
}

.intestazione > h1{
    display: inline-block;
    
}
